:root {
  --image-dim: 45px;
}
ul {
  list-style: none;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
header {
  padding: 16px;
  background-color: rgb(210, 68, 68);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.page-title {
  color: white;
}

main {
  width: 100%;
}

#history-list {
  width: 100%;
  margin: 8px 0 25px;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.history-card {
  /* flex: 1; */
  width: calc((100% / 4) - 4px);
  overflow: hidden;
  padding: 25px;
  background-color: rgb(225, 225, 225);
  border: 2px solid rgb(159, 159, 159);
  border-radius: 8px;
  cursor: pointer;
}
#switch-history-controller {
  width: 100%;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
}
#main-content {
  width: 85%;
  margin: auto;
}
#ds-logo {
  display: block;
  width: var(--image-dim);
  height: var(--image-dim);
  background-color: white;
  border: 3px solid white;

  border-radius: calc(var(--image-dim) / 2);
}
#qr-form-generator {
  border: 1px solid #e04545;
  border-radius: 8px;
  padding: 25px;
  max-width: 350px;
  margin: 50px auto 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#qr-form-generator select,
#qr-form-generator input {
  border: 1px solid #d24444;
  border-radius: 4px;
  padding: 0px 16px;
  height: 35px;
  outline: none;
}
/* #qr-form-generator select {
} */

#client-qr-code {
  cursor: default;
}
#qr-type-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.qr-type-btn {
  cursor: pointer;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(41, 41, 41);
}
.label-text {
  font-weight: 500;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
#latest-code-btn {
  background-color: rgb(210, 68, 68);
  cursor: pointer;
  border: white;
  border-radius: 4px;
  color: white;
  padding: 5px;
}
#serial-number-input-wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
#serial-number-input-wrapper input {
  flex: 1;
}
#generate-button {
  background-color: rgb(210, 68, 68);
  cursor: pointer;
  border: white;
  border-radius: 4px;
  color: white;
  padding: 16px;
}
#latest-code-btn:active,
#generate-button:active {
  scale: 1.05;
}
.alert-message {
  margin: auto;
  margin-bottom: 16px;
  max-width: 350px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 16px;
  color: black;
  font-size: 14px;
}
.alert-error {
  background-color: #e0454571;
  border-color: #e04545 !important;
}
.alert-success {
  background-color: #4fe04571;
  border-color: #45e071 !important;
}
#qr-code-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 48px;
  width: 85%;
}

.qr-code-item {
  width: 350px;
  height: 250px;
  background-color: rgb(210, 68, 68);
  position: relative;
  /* background-color: rgb(210, 68, 68); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-code-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr-code-wrapper img {
  width: 150px !important;
  height: 150px !important;
}
#page-switcher {
  margin: 50px auto;
  display: flex;
  width: 85%;

  justify-content: space-between;
}
#page-switcher a,
#show-all-page {
  color: black;
  border: 1px solid;
  padding: 16px;
  border-radius: 4px;
}
#prev-pagee {
  border-color: rgb(210, 68, 68) !important;
  color: rgb(210, 68, 68) !important;
}
#next-page {
  border-color: black;
  background-color: rgb(210, 68, 68) !important;
}
#show-all-page {
  display: block;
  width: fit-content;
  margin: 32px auto;
  color: white !important;
  background-color: rgb(210, 68, 68) !important;
}

.hidden {
  display: none !important;
}
.picked-color {
  background-color: rgb(210, 68, 68) !important;
  color: white !important;
}
/* loding indicator */
#loading-indicator {
  margin: auto;
}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(210, 68, 68);
  border-color: rgb(210, 68, 68) transparent rgb(210, 68, 68) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media print {
  main {
    width: auto !important;
  }
  body {
    background-color: white !important;
  }
  .dont-print {
    display: none !important;
  }
  #qr-code-container {
    overflow: visible !important;
    margin: 0px !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap;

    gap: 0px !important;
  }
  .qr-code-container-box {
    justify-content: start !important;
  }
  .qr-code-item {
    width: calc(100% / 2);
    height: calc(100vh / 3);
    background-color: rgb(255, 255, 255) !important;
    /* background-color: #d24444; */
    margin: 0px !important;
  }
  .qr-code-item:nth-child(even) {
    padding-left: 75px !important;
  }
  .qr-code-item-box {
    align-items: flex-start !important;
    padding-top: 100px;
    width: calc(100% / 1) !important;
    height: calc(100vh / 1) !important;
  }
  .qr-code-wrapper img {
    width: 150px !important;
    height: 150px !important;
  }
  .qr-code-wrapper-box image {
    width: 500px !important;
    height: 500px !important;
  }
  .qr-code-text-box {
    font-size: 3rem !important;
    text-align: center;
  }
}
@page {
  margin-left: -15px !important;
}
