:root {
  --image-dim: 100px;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
header {
  padding: 16px;
  background-color: rgb(210, 68, 68);
}

.page-title {
  color: white;
}

main {
  margin: auto;
  width: 85%;
}
#ds-logo {
  display: block;
  margin: 50px auto;
  width: var(--image-dim);
  height: var(--image-dim);
  background-color: white;
  border-radius: calc(var(--image-dim) / 2);
}
#qr-form-generator {
  max-width: 350px;
  margin: 50px auto 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#qr-form-generator input {
  border: 1px solid rgb(210, 68, 68);
  border-radius: 4px;
  padding: 0px 16px;
  height: 35px;
  outline: none;
}

#client-qr-code {
  cursor: default;
}
.label-text {
  font-weight: 500;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
#latest-code-btn {
  background-color: rgb(210, 68, 68);
  cursor: pointer;
  border: white;
  border-radius: 4px;
  color: white;
  padding: 5px;
}
#serial-number-input-wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
#serial-number-input-wrapper input {
  flex: 1;
}
#generate-button {
  background-color: rgb(210, 68, 68);
  cursor: pointer;
  border: white;
  border-radius: 4px;
  color: white;
  padding: 16px;
}
#latest-code-btn:active,
#generate-button:active {
  scale: 1.05;
}
.alert-message {
  margin: auto;
  max-width: 350px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 16px;
  color: black;
  font-size: 14px;
}
.alert-error {
  background-color: #e0454571;
  border-color: #e04545 !important;
}
#qr-code-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 48px;
  width: 85%;
}

.qr-code-item {
  width: 350px;
  height: 250px;
  background-color: rgb(210, 68, 68);
  position: relative;
  /* background-color: rgb(210, 68, 68); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-code-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-switcher {
  margin: 50px auto;
  display: flex;
  width: 85%;

  justify-content: space-between;
}
#page-switcher a,
#show-all-page {
  color: black;
  border: 1px solid;
  padding: 16px;
  border-radius: 4px;
}
#prev-pagee {
  border-color: rgb(210, 68, 68) !important;
  color: rgb(210, 68, 68) !important;
}
#next-page {
  border-color: black;
  background-color: rgb(210, 68, 68) !important;
}
#show-all-page {
  display: block;
  width: fit-content;
  margin: 32px auto;
  color: white !important;
  background-color: rgb(210, 68, 68) !important;
}

.hidden {
  display: none !important;
}

/* loding indicator */
#loading-indicator {
  margin: auto;
}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(210, 68, 68);
  border-color: rgb(210, 68, 68) transparent rgb(210, 68, 68) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media print {
  main {
    width: auto !important;
  }
  body {
    background-color: white !important;
  }
  .dont-print {
    display: none !important;
  }
  #qr-code-container {
    overflow: visible !important;
    margin: 0px !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 0px !important;
  }
  .qr-code-item {
    width: calc(100% / 2) !important;
    height: calc(100vh / 3) !important;
    background-color: rgb(255, 255, 255) !important;
    justify-content: flex-start !important;
    margin: 0px !important;
  }
  .qr-code-item:nth-child(even) {
    padding-left: 30px;
  }
  .qr-code-wrapper img {
    width: 150px !important;
    height: 150px !important;
  }
}
@page {
  margin-left: 16px;
}
